<div class="container-fluid bg-3 text-center"></div>
    <h1 class="comics">COMICS DESTACADOS </h1><br>
    <div class="row">
        <div class="col-sm-3">
            <p>OLDMAN LOGAN </p>
            <img src="https://www.milcomics.com/1452357-home_default/marvel-essentials-6-el-viejo-logan.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>WOLVERINE N.-46</p>
            <img src="https://www.milcomics.com/1452333-home_default/lobezno-46.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>WOLVERINE ARMA X</p>
            <img src="https://www.milcomics.com/1308767-home_default/lobezno-arma-x-marvel-gallery-edition.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>WOLVERINE VS DEPREDADOR</p>
            <img src="https://www.milcomics.com/1449941-home_default/predator-versus-lobezno-4-de-4.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
<div class="container-fluid bg-3 text-center">
    <div class="row">
        <div class="col-sm-3">
            <p>WOLVERINE Y CAPITAN AMERICA </p>
            <img src="https://www.milcomics.com/1343370-home_default/lobezno-40.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>ULTIMATE HULK</p>
            <img src="https://www.milcomics.com/1339598-home_default/coleccionable-marvel-ultimate-28-hulk-vs-lobezno-iron-man.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>DEADPOOL Y WOLVERINE </p>
            <img src="https://www.milcomics.com/1292281-home_default/lobezno-23.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
            <p>WOLVERINE EN LA CIUDAD DEL CRIMEN </p>
            <img src="https://www.milcomics.com/1295140-home_default/lobezno-parche.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
    </div>
</div><br><br>